<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">

</head>


<body>
    <div class="main-content">
        {{>header}}
        <p>{{message}}</p>
    </div>
    {{>footer}}
</body>


</html>