<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">

</head>


<body>
    <div class="main-content">
        {{>header}}
        {{>footer}}
    </div>
</body>


</html>